@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
}
p {
    font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
}
.card{
    max-width: 800px;  
    padding: 25px;
}
.containercards{
    padding: 50px;
}
.containercards h2{
    padding-bottom: 25px;
}
.containercards h5{
    padding-bottom: 15px;
}
.card-group{
    border: none;
}
/*PORTADA*/
.containersection{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-image: url(Images/bANNER.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;    
}
.headinghero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    
}
.headinghero h1{
    font-size: calc(7vw + 20px);
    padding: 20px;
    
}
/*NAVBAR*/
.navbar{
    position: absolute;
    padding-top: 50px;
   
}
.container-fluid {
    font-size: 18px;
}
.containerheader{
    display: flex;
    justify-content: center;
}
.accordion {
    max-width: 1400px;
    margin: auto;
}